@import url("https://fonts.cdnfonts.com/css/harry-potter");
body {
  margin: 0;
  background-color: rgb(40, 40, 57);
  font-family: "Harry Potter", sans-serif;
}

#play,
#stop {
  display: absolute;
  padding-top: 10px;
  border: none;
  background: none;
  cursor: pointer;
}
audio {
  display: none;
}

#start-screen,
#game-box,
#gameover-screen,
#game-screen {
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  position: relative;
  user-select: none;
  background-position: center;
  background-size: cover;
}

#start-screen {
  background-image: url("./images/background-start.jpg");
}
#game-screen {
  background-image: url("./images/game-background-dark.jpg");
}
#gameover-screen {
  background-image: url("./images/gameOver-dementor.jpg");
}

#subtitle {
  font-size: 25px;
  color: rgb(3, 3, 17);
  margin-top: 0px;
  text-shadow: 0px 4px 4px #000000;
}
#instructions {
  display: inline-block;
  background-color: rgba(179, 166, 163, 0.7);
  text-align: justify;
  padding: 4vh;
  margin-top: 0vh;
  margin-left: 25vw;
  margin-right: 25vw;
  border-radius: 10px;
}

#start-btn {
  font-family: "Harry Potter", sans-serif;
  background-color: rgb(68, 70, 94);
  color: white;
  font-size: 20px;
  margin-top: 0%;
  border-radius: 60px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /*transicion para un efecto suave al hacer hover */
}

#start-btn:hover {
  background-color: lightgrey;
  color: rgb(40, 40, 57);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10vh;
}

#game-screen #score {
  color: white;
  position: absolute;
  top: 5vh;
  right: 25vw;
}
#game-screen #high-score {
  color: white;
  position: absolute;
  top: 5vh;
  right: 15vw;
}

#spell-button{
 position: absolute;
 z-index: 999;
  top: 70vh;
  left: 75vw;
  background: none;
  border: none;
  border-radius: 9px;
  font-size: 40px;
  cursor: pointer;
}

#gameover-screen img {
  margin-top: 5vh;
  padding-bottom: 0%;
}

#gameover-screen p {
  margin-top: 5vh;
  color: gray;
  text-shadow: 0px 4px 4px #000000;
  font-size: 30px;
}
.reset-btn {
  background: none;
  border: none;
  cursor: pointer;
}
#game-screen,
#gameover-screen {
  display: none;
}
